.banner
  position relative
  background  linear-gradient(to right, #1489e7, #003e82)
  color #FFFFFF
  padding 83px 0
  z-index 100
  height 390px
  overflow: hidden
  &:before
    content ''
    position absolute
    top 0
    left 0
    background  url("../img/general/bitmap.png") no-repeat left
    z-index -1
    display block
    background-size: cover
    width 100%
    max-width 542px
    height 100%


.main-title
  font-size 50px
  font-weight 100
  line-height 1.1em

.subtitle
  font-size 16px
  line-height 1.5em
  margin-top 10px
  margin-bottom 20px
  display block

.info
  width 50%
  float right
  z-index 300

.block
  width 33%
  padding 18px
  display table-cell
  vertical-align middle
  &__title
    font-size 28px
    font-weight 300
    text-align center
    color #333333
  &__info
    font-size 17px
    line-height 1.41
    text-align center
    color #9299a2
    padding 20px 0
    display block
  &__link
    text-align center
    color #74a3c7
    text-transform uppercase
    font-size 13px
    display block
    padding 20px 0
    border 1px solid #dddfe0
    border-radius 0 0 6px 6px

.block-border
    block-border()
    padding 20px
    border-bottom none
    border-radius 6px 6px 0 0
    position relative


.container
  padding 55px 0


.category
  block-border()
  width 252px
  height 246px
  color #333333
  padding 0 18px
  margin-top 30px
  text-align left

  &__content
    padding 18px 0

  &__item
    margin 5px 0
    background-color #eef2f7
    font-size 13px
    display  inline-block
    padding 14px 10px
    border-radius 6px


    &:after
      content ""
      display inline-block
      width 12px
      height 12px
      background url("../img/general/close.svg") no-repeat center
      margin-left 12px
      vertical-align bottom
      cursor pointer

.field__item
  block-border()
  width 100%
  background-color #eef2f7
  height 66px
  font-size 17px
  line-height 1.35
  padding-top 20px
  padding-left 18px
  padding-right 18px


.field
  position relative
  margin-bottom 22px
  &:last-child
    margin-bottom 0
  &__title
    position absolute
    top 15px
    left 21px
    font-size 13px
    color #9299a2
  &_textarea
    padding 13px 18px




.tooltip
  width 100%
  max-width  284px
  padding 16px
  block-border()
  font-size 13px
  line-height 1.38
  color #9299a2
  text-align left
  display none
  position absolute
  bottom -15px
  right  40%
  z-index 200
  background-color #FFFFFF


.tooltip-icon
  background url("../img/general/stroke-1-fill-2.svg") no-repeat center
  width 24px
  height 24px
  display inline-block
  margin-left 10px
  cursor pointer
  vertical-align bottom
  &:hover + .tooltip
    display block


.block-tab
  padding 50px
  border-radius 6px
  background-image linear-gradient(to bottom, #eff7ff, #edfbf6 44%, rgba(235, 255, 233, 0.4))



.tabs {
  position: relative;
  margin: 0 auto;
  width: 100%;
}
.tabs__title
  border-bottom 1px solid #dddfe0
  overflow-x auto
  overflow-y hidden
  &__inner
    width 728px
    display flex
    justify-content space-between

.tabs label {
  color #74a3c7
  cursor: pointer;
  position: relative;
  top: 2px;
  text-align: center;
  font-size 13px
  text-transform uppercase
  padding-bottom 28px
}

.tabs input {
  position: absolute;
  left: -9999px;
}


#tab_1:checked ~ .tabs__title label[for="tab_1"],
#tab_2:checked ~ .tabs__title label[for="tab_2"],
#tab_3:checked ~ .tabs__title label[for="tab_3"],
#tab_4:checked ~ .tabs__title label[for="tab_4"]{
  top: 0;
  z-index: 3;
  color #3e4757
  border-bottom 2px solid #ffdd2d
}

.tabs_cont {
  position: relative;
  z-index: 2;
  margin-top 42px
}

.tabs_cont > div {
  position: absolute;
  left: -9999px;
  top: 0;
  opacity: 0;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2,
#tab_3:checked ~ .tabs_cont #tab_c3,
#tab_4:checked ~ .tabs_cont #tab_c4 {
  position: static;
  left: 0;
  opacity: 1;
}

.block__title__subtitle
  font-size 17px
  color #9299a2
  display block
  margin-top 10px

.tabs_cont
  max-width: 540px;
  margin: 30px auto;

.form-penalty
  margin-top 40px

.row
  text-align center

  .field__item
    width 100%
    display inline-block
    position relative
    padding-bottom 18px
    padding-top inherit
  .field
    width 49.8%
    display inline-block
    margin-bottom 30px
    input
      position: static;
      float: left
      block-border()
      background-color: #eef2f7;
      height: 66px;
      font-size: 17px;
      line-height: 1.35;
      padding-top: 20px;
      padding-left: 18px;
      padding-right: 18px;

    &:first-child
      float left
    &:last-child
      float right
  .field__title
    bottom 15px
    top inherit
    left 25px
  .btn
    width 48%
    vertical-align top
    float right

  .field_width
    width 48%
    float left



.flat.select2-container--focus .select2-selection--multiple
.flat .select2-selection--multiple
  border 1px solid #dddfe0
  height 252px
  margin-top 30px


.flat.select2-container--default .select2-selection--multiple .select2-selection__choice
  margin 5px
  background-color #eef2f7
  font-size 13px
  display  inline-block
  padding 11px 25px 11px 8px
  border-radius 6px
  color #333333
  position relative
  border none

.flat.select2-container--default .select2-selection--multiple .select2-selection__rendered
  padding 15px

.flat.select2-container--default .select2-selection--multiple .select2-selection__choice__remove
  width 12px
  height 12px
  margin-left 12px
  vertical-align bottom
  cursor pointer
  position absolute
  right 8px
  top 12px
  content ""
  color #eef2f7
  &:after
    width 12px
    height 12px
    background url("../img/general/close.svg") no-repeat center
    margin-left 12px
    vertical-align bottom
    cursor pointer
    position absolute
    right 0
    top -1px
    content ""
    z-index 600

.flat.select2-container .select2-search--inline
  line-height 44px

.block-form
  padding-top 63px
  max-width 540px
  margin auto

.form
  margin-top 25px
  text-align center
  .btn
    width 258px
    margin-top 50px

.form-fieled
  position relative
  padding 20px
  border-radius 6px
  background-color #eef2f7
  margin-top 24px
  &__title
    position absolute
    top: 50%;
    transform: translate(0, -50%);
    left 20px
    font-size 17px
    color #74a3c7
    transition all 300ms
    z-index 60
  input
    width 100%
    position: relative;
    border none
    z-index 90
    background-color transparent


.form-fieled input:focus + .form-fieled__title,
.form-fieled_has-content .form-fieled__title
  top 20%
  font-size 13px
  transition all 300ms



.checkbox-title
  font-size 21px
  font-weight 300
  text-align center
  color #333333
  margin-top 25px

.block-input
  text-align left
  position relative
  width 258px
  margin-top 27px
  border-radius: 6px;
  background-color: #ffffff;
  border: solid 1px #dddfe0;
  display inline-block
  &:first-child
    float: left
  &:last-child
    float: right
  &__label
    padding: 23px 50px 23px 24px;
    display block
    font-size: 17px;
    color #74a3c7
    cursor pointer

  input
    display none


  &__cont
    width 100%
    display block
    position relative
    &:after
      content: '';
      position: absolute;
      top: 50%;
      right -20px
      transform: translate(0, -50%);
      width 30px
      height: 30px;
      border-radius: 50%;
      background-color #eef2f7
      transition: background 0.5s;


.block-input__radio:checked + .block-input__cont
  color: #333333;
.block-input__radio:checked + .block-input__cont:after
  width: 12px;
  height: 12px;
  background-color #333
  border 9px solid #ffdd2d
  border-radius: 50%;
  box-sizing content-box

.error
  border 1px solid #d0011b
  &:before
    content ""
    width 24px
    height 24px
    display inline-block
    background url("../img/general/error.svg") no-repeat center
    position absolute
    top 50%
    right 20px
    transform translate(0, -50%)
  &:after
    font-size: 13px;
    color: #d0021b;
    content "Для заполнения этого поля не допустимо использовать буквы латинского алфавита"
    display block
    position absolute
    width 100%
    left 0
    right 0
    margin auto
    bottom -33px

.error + div
    margin-top 65px

