footer.footer.clearfix
    .content.clearfix
        .section.clearfix
            .block-item
                .block-list
                    .block-list__title О БАНКЕ
                    ul.list
                        li.list__item
                            a(href="#").list__link Тинькофф Банк
                        li.list__item
                            a(href="#").list__link Новости
                        li.list__item
                            a(href="#").list__link Вакансии
                        li.list__item
                            a(href="#").list__link For Investors
                .block-list
                    .block-list__title КАРТЫ
                    ul.list
                        li.list__item
                            a(href="#").list__link Кредитные карты
                        li.list__item
                            a(href="#").list__link Дебетовые карты

            .block-item
                .block-list
                    .block-list__title СТРАХОВАНИЕ
                    ul.list
                        li.list__item
                            a(href="#").list__link Автомобиль
                        li.list__item
                            a(href="#").list__link Жизнь и здоровье
                        li.list__item
                            a(href="#").list__link Путешествия
                        li.list__item
                            a(href="#").list__link Имущество

                .block-list
                    .block-list__title ВКЛАДЫ
                    ul.list
                        li.list__item
                            a(href="#").list__link Ставки по вкладам
                        li.list__item
                            a(href="#").list__link Тарифы

        .section.clearfix
            .cont.clearfix
                a(href="tel:88005551122").phone 8 800 555-11-22
                    span.phone__subtitle Для звонков по России
                a(href="").btn-call Онлайн-звонок в банк
            .social.clearfix
                ul.social-list
                    li.social-item
                        a(href="#").social-link.social-link_vk
                    li.social-item
                        a(href="#").social-link.social-link_fb
                    li.social-item
                        a(href="#").social-link.social-link_tw
                    li.social-item
                        a(href="#").social-link.social-link_ok
                    li.social-item
                        a(href="#").social-link.social-link_google
                    li.social-item
                        a(href="#").social-link.social-link_youtube
            ul.list-nav
                li.list-nav__item
                    a(href="#").list-nav__link О БАНКЕ
                    a(href="#").list-nav__link КАРТЫ
                li.list-nav__item
                    a(href="#").list-nav__link СТРАХОВАНИЕ
                    a(href="#").list-nav__link ВКЛАДЫ



            ul.list.list_align
                li.list__item.list__item_inline
                    a(href="#").list__link Курсы валют
                li.list__item.list__item_inline
                    a(href="#").list__link Мобильные приложения
                li.list__item.list__item_inline
                    a(href="#").list__link Карта сайта
                li.list__item.list__item_inline
                    a(href="#").list__link Информация о лицах, под контролем которых находится банк

        .disclaimer.clearfix
            .disclaimer-info © 2006–2015, АО «Тинькофф Банк», официальный сайт, лицензия ЦБ РФ № 2673
            a(href="").language English



