header
    .content.content-inner
        .logo
            a(href="/")
                img(src="./static/img/general/header-logo.svg")

        a(href="tel:88005551122").phone 8 800 555-11-22







