header
    .content.content-inner
        .logo
            a(href="/")
                img(src="./static/img/general/header-logo.svg").logo-main
                img(src="./static/img/general/logo-min.svg").logo-mobile
        .block-centre
            img(src="./static/img/general/toggle.svg").toggle
            a(href="tel:88005551122").phone 8 800 555-11-22








