nav.menu-block
    .content
        ul.menu
            li
                a(href="").menu__item карты
            li
                a(href="").menu__item вклады
            li
                a(href="").menu__item платежи и переводы
            li
                a(href="").menu__item бонусы
            li
                a(href="").menu__item страхование
            li
                a(href="").menu__item о банке