.footer
  border-top 1px solid #dddfe0
  width 100%
  padding 33px
  margin-top 50px


.section
  vertical-align top
  width 49.9%
  display inline-block
  &:first-of-type
    float left
    width 46%
  &:nth-last-of-type(2)
    float right
    width 53%




.block-item
  width 43%
  display inline-block

.block-list
  display inline-block
  text-align left
  margin-bottom 33px

  &__title
    font-size 13px
    text-transform uppercase
    color #9299a2

.list
  margin-top 10px
  &__link
    font-size 13px
    text-transform none
    color #74a3c7
    line-height 1.77

.phone__subtitle
  display block
  font-size: 13px;
  line-height: 1.77;
  text-align: center;
  color: #9299a2;

.btn-call
  font-size: 17px;
  line-height: 0.94;
  color: #74a3c7;
  border-radius: 6px;
  border: solid 1px #74a3c7;
  padding 17px 24px 19px
  float right
  &:before
    content: ''
    display inline-block
    background url("../img/general/icon-tel.svg") no-repeat center
    width 18px
    height 18px
    vertical-align  bottom
    margin-right 10px

.social
  width 100%
  display block
.cont
  width 100%
  display block
  margin-bottom 30px
  .phone
    margin-top 0
    font-size 21px
    line-height 1.43
    float left

.social-list
  text-align justify
  line-height 0
  &:after
    content ''
    width 100%
    display inline-block
    height 0
    visibility: hidden;
    overflow: hidden;

.social-item
  display inline-block

.social-link
  display inline-block
  width 49px
  height 49px
  &_vk
    background url("../img/general/group-2.svg") no-repeat center
    background-size contain
  &_fb
    background url("../img/general/group-3.svg") no-repeat center
    background-size contain
  &_tw
    background url("../img/general/group-4.svg") no-repeat center
    background-size contain
  &_ok
    background url("../img/general/group-5.svg") no-repeat center
    background-size contain
  &_google
    background url("../img/general/group-6.svg") no-repeat center
    background-size contain
  &_youtube
    background url("../img/general/group-7.svg") no-repeat center
    background-size contain


.list__item_inline
  display inline-block

.list_align
  text-align justify
  max-width 389px
  margin-top 33px

.disclaimer
  width 100%
  margin-top 40px

.disclaimer-info
  float left

.disclaimer-info, .language
  font-size: 13px;
  line-height: 1.23;
  color: #9299a2;

.language
  float right
  &:after
    content ""
    display inline-block
    background url("../img/general/inglish.svg")
    width 24px
    height 24px
    vertical-align middle
    margin-left 10px

.list-nav
  display none
  width 100%
  margin-top 30px
  &__item
    display inline-block
    width 25%
  &__link
    display block
    font-size 13px
    text-transform uppercase
    color #9299a2
    margin-bottom 16px