header
  padding 15px 0

.logo
  display inline-block

.logo-main
    width 197px
    height 65px

.logo-mobile
  width 50px
  height 44px
  display none

.phone
  font-size 21px
  float right
  margin-top 22px
.toggle
  float right
  margin-top 22px
  display none
  cursor pointer
  width 25px
  height 20px

.block-centre
  float right

