.menu-block
  background-color #3e4757
  width 100%
  position relative
  //&_mobile
  //  display block
  //  position absolute
  //  z-index 500
  //  top 0
  //  right 0
  //  .menu
  //    width 100%
  //    li
  //      display block
  //      text-align right


.menu
  text-align justify


  &:after
    content ""
    width 100%
    height 0
    display inline-block
    visibility hidden
    overflow hidden
  li
    display inline-block
    vertical-align top
    margin-bottom -16px
  &__item
    color #FFFFFF
    display inline-block
    padding 25px 0
    border-bottom 3px solid #3e4757
    transition border-bottom 300ms
    &:hover
      border-bottom 3px solid #ffdd2d

//@media screen and (max-width : 992px)
//  .menu-block
//    display none