extends ../layout/main

block title
    | Главная страница

block content
    include ../modules/menu

    section.banner.clearfix
        .content
            .info
                h1.main-title Карты для вас<br> прямо сейчас
                span.subtitle Выбирайте карту, пользуйтесь<br>удобными сервисами
                button.btn.btn_absolute Оформить заявку
    section.container
        .content.content_align
            .block
                h2.block__title Любые категории платежей
                select.category.js-category(multiple=true)
                    option(selected="true") Кафе
                    option(selected="true") Интернет
                    option(selected="true") Супермаркеты
                    option(selected="true") Телефон
                    option(selected="true") ЖКХ
                    option(selected="true") Авто
                    option(selected="true") Кафе2
                    option(selected="true") Длинная категория
                    option(selected="true") Еще категория
                    option(selected="true") Булочки
            .block
                form
                    div.field
                        select.field__item
                            option Кредитная карта
                            option Кредитная карта
                            option Кредитная карта
                        span.field__title Тип продукта
                    div.field
                        select.field__item
                            option Кредитная карта
                        span.field__title Тип продукта
                    div.field
                        textarea(placeholder="Желаемый размер кредита").field__item.field_textarea
                        //span.area-title Желаемый размер кредита
                    button.btn Заполнить заявку

            .block
                .block-border
                    h2.block__title Все условия для вас
                    span.block__info Стоимость обслуживания и всю информацию о кредитных картах вы сможете найти в договоре
                        .tooltip-icon
                        .tooltip
                            | Ваши данные замаскированы в целях безопасности. Для изменения информации с вами свяжется оператор колл-центра.
                a(href="").block__link ВСЕ УСЛОВИЯ

    section
        .content
            .block-tab.clearfix
                .tabs
                    input(type="radio" id="tab_1" name="tab" checked="checked")
                    input(type="radio" id="tab_2" name="tab")
                    input(type="radio" id="tab_3" name="tab")
                    input(type="radio" id="tab_4" name="tab")
                    .tabs__title
                        .tabs__title__inner
                            label(for='tab_1') СЧЕТА НА ОПЛАТУ
                            label(for='tab_2') ИЗБРАННОЕ
                            label(for='tab_3') ПЛАТЕЖИ И ПЕРЕВОДЫ
                            label(for='tab_4') бонусы

                    .tabs_cont
                        #tab_c1
                            h2.block__title У вас два неоплаченных штрафа
                                span.block__title__subtitle Оплатите до 1 августа с 50% скидкой
                            form.form-penalty
                                .row.clearfix
                                    .field
                                        select.field__item
                                            option Tinkoff Black
                                        span.field__title 78 000 Р
                                    .field
                                        select.field__item
                                            option Штраф
                                        span.field__title Постановление №123456788
                                .row.clearfix
                                    .field
                                        input(type="text" placeholder="Сумма Р")
                                    //.form-fieled
                                    //    input(type="text" value="")
                                    //    span.form-fieled__title ФИО
                                    button.btn Заполнить заявку

                        #tab_c2
                            h2.block__title У вас два неоплаченных штрафа
                                span.block__title__subtitle Оплатите до 1 августа с 50% скидкой
                            form.form-penalty
                                .row.clearfix
                                    .field
                                        select.field__item
                                            option Tinkoff Black
                                        span.field__title 78 000 Р
                                    .field
                                        select.field__item
                                            option Штраф
                                        span.field__title Постановление №123456788

                        #tab_c3
                            h2.block__title У вас два неоплаченных штрафа
                                span.block__title__subtitle Оплатите до 1 августа с 50% скидкой
                        #tab_c4
                            h2.block__title У вас два неоплаченных штрафа
                                span.block__title__subtitle Оплатите до 1 августа с 50% скидкой


    section.block-form
        h2.block__title Заполните несколько простых полей
        form.form
            .form-fieled
                input(type="text" value="")
                span.form-fieled__title ФИО
            .form-fieled.error
                input(type="text")
                span.form-fieled__title Город проживания
            .form-fieled
                input(type="text")
                span.form-fieled__title Мобильный телефон
            .form-fieled
                input(type="text")
                span.form-fieled__title Электронная почта

            .checkbox.clearfix
                h3.checkbox-title Выберите это или другое
                .block-input
                    label.block-input__label
                        input.block-input__radio(type="radio" checked="checked" name="radio")
                        span.block-input__cont  Это
                .block-input
                    label.block-input__label
                        input.block-input__radio(type="radio"  name="radio")
                        span.block-input__cont  Другое
            button.btn Отправить