.content
  width 100%
  max-width 828px
  margin auto
  &_align
    text-align center
    display table

.btn
  color #000000
  font-size 17px
  line-height 1.41
  text-align center
  border-radius 6px
  background-color #ffdd2d
  border none
  padding 22px 45px
  cursor pointer

  &:hover
    background-color #f1cb0a
    transition all 300ms

.wrapper
  position relative

@media screen and (max-width: 920px)
  .content
    width 97%
    margin auto