@media screen and (min-width : 1300px)
  .banner:before
    //background url("../img/general/bitmap.png") no-repeat left
    left 15%

/* Medium Devices, Desktops */
@media screen and (max-width : 992px)
  .logo-mobile
    display block
  .logo-main
    display none
  .toggle
    display block
  .phone
    font-size 17px
    float left
    margin-top 15px
    line-height 17px
  .block-centre
    width calc(50%+60px)
    float right
  .banner:before
    background-size contain
  .menu-block
    display none



/* Small Devices, Tablets */
@media screen and (max-width : 768px)
  .info
    float none
    display inline-block
    z-index 20
    width 100%
  .title
    font-size 30px
  .main-title
    font-size 30px
  .banner
    text-align center
    padding 25px 0
  .btn_absolute
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
    width: 242px;
  .banner:before
    top 50px
  .block
    display block
    width 100%
    padding 18px 0
    .btn
      width 100%
  .section:first-of-type
    display none
  .section:nth-last-of-type(2)
    float none
    width 100%
  .disclaimer-info
    width 60%
  .list-nav
    display block
  .footer
    background-color #f6f7f8
  .language
    color #f6f7f8
    position absolute
    bottom 33px
    right 18px
  .footer
    position relative
  .tabs_cont
    max-width 100%
  .row .field
    width 100%
  .row .field input, .row .btn, .block-input
    width 100%
  .form .btn
    width 100%
  .content
    padding 0 18px
  .category
    width 100%
  .tooltip
    left 0
    right 0
    margin auto
  .field__item
    line-height 37px




/* Extra Small Devices, Phones */
@media screen and (max-width : 480px)
  .list-nav__item
    width 40%
    //width 49%
  .list_align
    max-width 100%
    margin-top 25px
  .cont .phone
    display none
  .btn-call
    float none
    display inline-block

  .social-link
    width 30px
    height 30px
  .footer
    background-color #f6f7f8
    padding 33px 15px
  .block-form
    padding 18px
  .block-tab
    padding 50px 18px 18px
  .cont
    text-align center









